<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Leite Library</title>
  </head>
  <body>
    <main class="container">
      <h1>Leite Library</h1>
      <h2>Cadastrar novo livro</h2>

      <% if (message) { %>
      <p><%= message %>/p> <% } %></p>

      <form action="/books/new" method="POST">
        <label for="title">Título</label>
        <input class="form-control" type="text" id="title" name="title" />

        <label for="authorName">Autor</label>
        <input class="form-control" type="text" name="authorName" id="authorName" />

        <label for="category">Categoria</label>
        <input class="form-control" type="text" name="category" id="category" />

        <label for="img">Imagem da capa</label>
        <input class="form-control" type="text" name="img" id="img" />
        <br />
        <button class="btn btn-success" type="submit">cadastrar</button>
      </form>
      <br />

      <button class="btn btn-dark"><a href="/books">Voltar</a></button>
    </main>
  </body>
</html>
