<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leite Library</title>
  </head>

  <body>
    <h1>Leite Library</h1>

    <a href="/books/new">Novo livro</a>

    <% if (message) { %>
    <p><<%= message %>/p> <% } %></p>

    <h2><%= books.length %> livros cadastrados</h2>

    <table>
      <thead>
        <tr>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach((book)=> { %>
        <tr>
          <td><%= book.nome %></td>
        </tr>
        <% } ) %>
      </tbody>
    </table>
  </body>
</html>
